<html>
    <body>
         <h1>Records in the database </h1>        
         <table>
            <tr>
                <th>Cust ID</th>
                <th>Cust Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Delete?</th>
            </tr>
            {% for cust_obj in customer_list %}
            <tr>
                <td>{{cust_obj.customer_id}}</td> 
                <td>{{ cust_obj.name}}</td>
                <td>{{cust_obj.quantity}}</td>
                <td>{{cust_obj.price}}</td>
                <td><a href="delete/{{cust_obj.customer_id}}">Delete</a></td>
                <td><a href="update-form/{{cust_obj.customer_id}}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>